.nav-heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: black;
  font-weight: 600;
}

@media all and (min-width: 768px) {
  .nav-heading {
    font-size: 30px;
  }
  .cart-icon {
    font-size: 40px;
  }
}
